<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ server_name }}</title>
</head>
<body>
<h1>{{server_name}}</h1>
<h2>Your IP: {{ cilent_ip }}</h2>
<h2>Main Host Connection Status: {{ c_status }}</h2>
<h2>Last check time: {{ c_l_time }}</h2>
<h2>System load avg: {{ s_l_avg }}</h2>
<h2>Static Files size: {{ s_f_size }}</h2>
<h2>Total Request: {{ t_request }}</h2>
<h2>Total Forward: {{ t_forward }}</h2>
<h2>Total Error: {{ t_error }}</h2>
<h2>Total Access Denies: {{ t_denies }}</h2>
<h2>Server Uptime: {{ c_time }}</h2>
</body>
</html>